/*
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!package_list
!pipx_list.json

.config/*
!.config/
!.config/alacritty/
!.config/fish/
!.config/nvim/
!.config/qutebrowser/
!.config/sway/
!.config/yay/
!.config/zathura/

!bin/
!dev-backup/
